DB_HOST=
DB_PORT=
DB_SERVICE_NAME=
DB_USER=
DB_PASSWORD=

#보건소
PUBLIC_DATA_API_KEY=

#이메일
SENDER_EMAIL=
SENDER_PASSWORD=
SMTP_PORT=

#GPT api
OPENAI_API_KEY=
OPENAI_MODEL=

#Kakao API
KAKAO_REST_API_KEY=

#솔라피 sms api (문자)
SOLAPI_API_KEY=
SOLAPI_API_SECRET=
SOLAPI_FROM_NUMBER=

