fastapi
uvicorn
asyncpg
pydantic
pydantic-settings
python-dotenv
openai
httpx
python-multipart
bcrypt
passlib
argon2-cffi
email-validator
requests
joblib
pandas
scikit-learn
xgboost
aiohttp
apscheduler
solapi
